<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>LOGIN</h1>
    <br>
    <ion-input label="NIM" label-placement="floating" fill="outline" placeholder="Enter NIM"></ion-input>
    <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Enter Password"></ion-input>
    <br>
    <ion-button>Login</ion-button>
  </div>
</ion-content>
